[submodule "pelican-themes"]
	path = pelican-themes
	url = https://github.com/getpelican/pelican-themes
[submodule "pure-single"]
	path = pure-single
	url = https://github.com/PurePelicanTheme/pure-single.git
[submodule "pelican-plugins"]
	path = pelican-plugins
	url = https://github.com/getpelican/pelican-plugins
[submodule "olgabot-pure-single"]
	path = olgabot-pure-single
	url = https://github.com/olgabot/pure-single
